* {
    font-family: Comfortaa, sans-serif;
}

.c-center-parent {
    min-height: 100vh;
}

.c-header {
    margin: 40px;
    /* border: 1px solid red; */
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.c-child {
    /* border: 1px solid green; */
    width: 80%;
    background-color: wheat;
    padding: 50px;
    border-radius: 20px;
}

label {
    margin-bottom: 10px;
}

#btn-submit {
    font-size: larger;
}

.c-viewport {
    background-image: linear-gradient(to bottom right, #51aebd, #385692);
}